<!DOCTYPE html>
<html>
  <head>
    <title><%=title %></title>
    <link rel="stylesheet" href="../../public/assets/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="page-wrapper">
      <nav class="navber navbar-dark" style="background-color: darkseagreen">
        <span class="navbar-brand mb-0 h1">
          <a href="/">
            <img
              src="../../public/assets/imgs/logo.png"
              width="80"
              height="80"
              alt="Products management"
            />
            Products Management
          </a>
        </span>
        <a class="float-right btn btn-outline-primary" href="/add"
          >Add a Product</a
        >
      </nav>
    </div>
  </body>